.loginPanel {
    align-self: middle;
    position: relative;
    margin-bottom: 50px;
    /*margin-top: calc(var(--topNavHeight) + 30px);
    margin-left: calc(var(--sideNavWidth) + 30px);*/
}

.loginForm {
    border: 2px solid;
    box-shadow: 2px;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
}

.errorLabel {
    border: 5px solid;
    border-color: red;
    color: white;
    background-color: red;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 10px 5px;
    display: inline-block;
}